{% load static %}
<!DOCTYPE html>
{% csrf_token %}
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>
    Applied Candidates
  </title>

  <link rel="icon" type="image/jpg" href="static\images\logo.jpg">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
  <!--Stylesheet-->
  <link href="https://unpkg.com/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://unpkg.com/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/jobs.css' %}"/>

</head>
<body>
  
    
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container-fluid">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="brand">
              <a class="nav-link active" aria-current="page" href="#">Access</a>
            </li>
            <li class="brand">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="brand">
              <a class="nav-link" href="{% url 'companys' %}">Companies</a>
            </li>
          </ul>
          <div class="form_control">
          <form class="d-flex" method="POST">
            {% csrf_token %}
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"name="form-control me-2">
            <button class="btn btn-outline-primary" type="submit">Search</button>
          </form>
        </div>
        <p class="name">{{ company.name }}</p>
        <img class="img_nav" src="{{ company.image.url}}" alt="Paris" width="40px" height="40px" >
      </div>
    </nav>
    <br>
    <h4 class="h4">Explore New Career Opportunities</h1>
      <br>

    <ul>
      

        {% for employee in employees%}
          <div class="css-1i76nwa">
            <div style="display: flex;">
            <a class="job_tag"href="{{employee.get_absolute_url}}">{{ employee.first_name }} {{employee.last_name}}</a></div>
          <div class="row">
            <div class="col-10">
              
            {% comment %} <a class="tag_none"href="{{job.company.get_absolute_url}}" style="color:black;text-decoration:none;">{{ job.company.name }} </a> {% endcomment %}
             <br>
             <span style="white-space: pre-wrap;">{{ employee.description }}</span><br><br>


        {% for skill in employee.Main_skills.all%}
            {% if skill in jobs.Main_skill.all %}
              <button type="button" class="btn btn-success mb-3">{{skill.name}}</button>
            {% endif %}

            

          {% endfor %}  
          {% for skill in employee.Main_skills.all%}
            {% if skill not in jobs.Main_skill.all %}
              <button type="button" class="btn btn-danger mb-3">{{skill.name}}</button>
            {% endif %}

            

          {% endfor %}  

      </div>

      <div  class="col">
        <a class="tag_none"href="{{employee.get_absolute_url}}">
      <img src="{{ employee.image.url}}" alt="Paris" width="100px" height="100px" class="rounded float-end">
        </a>
    </div>

    </div>

    </div>

        {% endfor %}
        

      </ul>
</body>
</html>