{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    Register Job
  </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
  <!--Stylesheet-->
  <link href="https://unpkg.com/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://unpkg.com/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="{% static 'css/singleemp.css' %}">
</head>

<body>
    <section style="background-color: #eee;">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
          <div class="container-fluid">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="brand">
                  <a class="nav-link active" aria-current="page" href="#">Access</a>
                </li>
                <li class="brand">
                  <a class="nav-link" href="{% url 'home_com' %}">Home</a>
                </li>
                <li class="brand">
                  <a class="nav-link" href="{% url 'companys' %}">Companies</a>
                </li>
              </ul>
              <div class="form_control">
    
            </div>
            {% if context.last_name%}
            <p class="name">{{ context.first_name }}
            {{context.last_name }}</p>
            {% else %}
            <p class="name">{{ context.name }}</p>
        {% endif %}
    
            <img class="img_nav" src="{{ context.image.url}}" alt="Paris" width="40px" height="40px" >
          </div>
        </nav>
        <div class="container py-5" style="margin-left:290px">
            {% comment %} <div class="row">
              <div class="col">
                
              </div>
            </div> {% endcomment %}
        
            <div class="row">

                <form method="POST" class="row g-3 needs-validation" > 
                    {% csrf_token %}
              </div>
              <div class="col-lg-8">
                <div class="card mb-4">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-3">
                        <p class="mb-0">Job Title</p>
                      </div>
                      <div class="col-sm-9">
                        <input type="text"  name="title" id="title"class="form-control" required>

                    </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <p class="mb-0">Field</p>
                      </div>
                      <div class="col-sm-9">
                        <select class="form-select" aria-label="Default select example" name="feild" required>
                          <option value="Software Engineering"selected>Software Engineering</option>
                          <option value="Mechanical Engineering">Mechanical Engineering</option>
                          <option value="Markting">Markting</option>
                        </select>
      
                      </div>
                      
                      
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <p class="mb-0">Job type</p>
                      </div>
                      <div class="col-sm-9">
                        <select class="form-select" aria-label="Default select example"id="type"name="type" required>
                          <option value="Full Time"selected>Full Time</option>
                          <option value="Part Time">Part Time</option>
                          <option value="Remotely">Remotely</option>
                        </select>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <p class="mb-0">Description</p>
                      </div>
                      <div class="col-sm-9">
                        <textarea class="form-control"required  name="description" maxlength="500" required id="description" style="height: 100px"></textarea >
                         
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <p class="mb-0">skills</p>
                      </div>
                      <div class="col-sm-9">
                        <select class="form-control" id="skills" name='skills'multiple required>                        
                        {% for skill in main %}
                          <option value='{{skill.id}}'>{{ skill.name }}</option>
                        {% endfor %}
                        </select>
                      </div>
                    </div>
                  </div>
                </div>


              <button type="submit" class="btn btn-primary btn-lg" style="margin-left:770px">Register</button>
                    
                </form>
                    {% comment %} <hr> {% endcomment %}
      
                    {% comment %} <div class="row">
                      <div class="col-sm-3">
                        <p class="mb-0">Openings</p>
                      </div>
                      <div class="col-sm-9">
                        {% for job in jobs%}
                          <button type="button" class="btn btn-primary">{{job.title}}</button>
                        
            
                      {% endfor %}  
            
                      </div> {% endcomment %}
                    </div>
                  </div>


    
</body>
</html> 