<!DOCTYPE html>
<html lang="en">
{% csrf_token %}
{% load static %}


<head>
    <title>Signup Page</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <link href="https://unpkg.com/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://unpkg.com/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/Signcom.css' %}"/>
    
</head>

<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    
    <form  method="POST" >
        {% csrf_token %}
        <h3>Sign Up Here</h3>

    <div class="row g-3">    
        
    <div class="col-md-12">
        
        <label for="name"class="form-label">Name:</label> <input type="text" name="name"id="name" maxlength="100"class="form-control" required id="name">
        
    </div>
    
</div>

    

    <div class="fieldWrapper">
        
        <label for="id_image">Image:</label> <input type="file" name="image" accept="image/*" required id="image" class="form-control" id="inputGroupFile02">
        
    </div>
    <div class="row g-3">    


    <div class="col-md-4">
        <label for="inputCity" class="form-label">Address</label>
        <input type="text" class="form-control" id="street" placeholder="1234 Main St" name="street">
      </div>
      <div class="col-md-4">
        <label for="inputState" class="form-label">city</label>
        <input type="text" class="form-control" id="city"name="city">

      </div>
      <div class="col-md-4">
        <label for="postal_code" class="form-label">Zip</label>
        <input type="text" class="form-control" id="postal_code" name="postal_code">
      </div>
      
      </div>
    </div>


    <div class="fieldWrapper">
        
        <label for="id_description"class="form-label">Description:</label> <textarea class="form-control"  name="description" maxlength="500" required id="description" style="height: 100px"></textarea >
        
    </div>
    <div class="fieldWrapper">
    <div class="row g-3">    


        <div class="col-md-4">
        
            <label for="id_Dob"class="form-label">Establishment Date:</label> <input type="date" name="Dob"class="form-control" required id="Dob">
            
        </div>
    
        <div class="col-md-4">
            
            <label for="id_contanct_number"class="form-label">Contact number</label> <input type="text"class="form-control" name="contanct_number" maxlength="100" required id="contanct_number"placeholder="01XXXXXXXXX">
            
        </div>
    
        <div class="col-md-4">
            
            <label for="feild"class="form-label">Feild:</label> 
            <select class="form-select" aria-label="Default select example"id="feild"name="feild">
                <option selected> </option>
                <option value="Software Engineering">Software Engineering</option>
                <option value="Mechanical Engineering">Mechanical Engineering</option>
                <option value="Markting">Markting</option>
              </select>
        </div>
    

        
    </div>

        <button type="submit">Send</button>
</body>
</html>