{% load static %}
<!DOCTYPE html>
{% csrf_token %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    home page
  </title>
  <link rel="stylesheet" href="{% static "reviews/style.css" %}">
</head>
<body>
    <ul>
        {% for job in jobs %}
          <li>{{ job.title }} (el5amera: {{ job.salary }})</li>
        {% endfor %}
      </ul>
      <p>{{ context.first_name }}</p>
    <p>{{ context.description }}</p>
</body>
</html>